{% extends 'index.html' %}

{% block user %}
  
<div class="container ">
  <form method="post">
    {% csrf_token %}
    <div class="mb-3 mt-3">
      <label for="email" class="form-label">num1:</label>
      <input type="text"  name="num1">
    </div>
    <div class="mb-3">
      <label for="pwd" class="form-label">num2:</label>
      <input type="text"  name="num2">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  
  <input type="text" value="{{output}}" class="main">
</div>


{% endblock user %}
  

  